#b-1{
    background-color: blue;
}
.h1-1{
    background-color: red;
}
b{
    color: aquamarine;
}
/* საკლასო დავალება:

თქვენს html-ის დოკუმენტში აიღეთ 8 პარაგრაფი, თითოეულს გაუწერეთ id.

external css-ის გამოყენებით გასტილეთ ეს პარაგრაფები, გამოიყენეთ rgb რათა პარაგრაფებს ქონდეთ შემდეგი ფერები:

I - თეთრი
II - შავი
III - წითელი
IV - მწვანე
V - ლურჯი
VI - ყვითელი
VII - ცისფერი
VIII - იასამნისფერი */

#p-1{
    color: rgb(255, 255, 255);
}

#p-2{
    color: rgb(0, 0, 0);
}

#p-3{
    color: rgb(255, 0, 0);
}

#p-4{
    color: rgb(0, 255, 0);
}

#p-5{
    color: rgb(0, 0, 255);
}

#p-6{
    color: rgb(255, 255, 0);
}

#p-7{
    color: rgb(0, 255, 255);
}

#p-8{
    color: rgb(200, 0, 255);  
}
#p-9{
    color: rgb(25, 0, 255);  
}
#p-10{
    color: rgb(222, 10, 25);  
}
#p-11{
    color: rgb(255, 40, 255);  
}
#p-12{
    color: rgb(255, 90, 25);  
}
#p-13{
    color: rgb(255, 100, 200);  
}

