*{
    margin: 0;
    padding:0;
    text-align: center;
    justify-content: center;
    color: white;
    
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #ff4500;
    padding: 20px;
    font-size: 24px;
}

.footer {
    background-color: #ff1494;
    padding: 20px;
    font-size: 24px;
}

.content {
    display: flex;
    flex: 1;
}

.left-sidebar, .right-sidebar {
    width: 20%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-sidebar {
    background-color:#1e90ff;
}

.right-sidebar {
    background-color: #228b22;
}

.main-content {
    flex: 1;
    background-color: #483d8b;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}