/* საკლასო დავალება:

ელემენტს გაუწერეთ ანიმაცია: როდესაც მასზე დაკლიკება მოხდება, შებრუნდეს 30 გრადუსით მარჯვნივ */

#div{
    background-color: black;
    width: 50px;
}

#div1:active{
    transform: rotate(30deg);
}