/* საკლასო დავალება:

div ბლოკის საწყისი ფონტის ზომა იყოს 20px, ფერი იყოს თეთრი და ფონის ფერი იყოს შავი.

როდესაც დივ ბლოკზე მოხდება active მოვლენა, შეიცვალოს შემდეგი კუთვნილებები: ფონტის ზომა გახდეს 25px, ფერი გახდეს შავი და ფონის ფერი გახდეს თეთრი.

ფონტის ზომის შეცვლა უნდა გაგრძელდეს 1 წამი, ხოლო ფერის და ფონის ფერიც ცვლილებები გაგრძელდეს 2 წამი */

.div1 {
    font-size: 20px;
    color: white;
    background-color: black;
}

.div1:active {
    font-size: 25px;
    color: black;
    background-color: white;
    transition: font-size 1s, background-color 2s, color 2s;
}