/* ```საკლასო დავალება:

თქვენს html-ის დოკუმენტში გაწერეთ 5 ლინკი, თითოეულს გაუწერეთ მისამართი.

როდესაც მოხდება ლინკზე hover, მაგ დროს გაზარდეთ ტექსტის ზომა და სისქე, ასევე შეცვალეთ ტექტის ფერი - გამოიყენეთ rgb / hexadecimal.

როდესაც მოხდება ლინკზე active მოვლენა, მაგ დროს შეამცირეთ ტექსტის ზომა და სისქე, ასევე შეცვალეთ ტექტის ფერი - გამოიყენეთ rgb / hexadecimal.``` */


a:hover {
    font-size: large;
    font-weight: 500px;
    color: red;
}

a:active {
    font-size: small;
    font-weight: 200px;
    color: green;
}


/* ```საკლასო დავალება:

შექმენით ცხრილი, რომელსაც ექნება 5 რიგი და 3 სვეტი. 

ცხრილს გაუწერეთ საზღვარი, რომელიც იქნება მწვანე ფერის, სიგანეში 5px და სტილით solid``` */


table {
    border-collapse: collapse;
    width: 5px;
}

th, td {
    border: 5px solid green;
    padding: 10px;
    text-align: left;
}