#b-1{
    background-color: #00ffff;
    color: #ff0000;
}

#b-2{
    background-color: #aaff00;
    color: #ffff00;
}

#b-3{
    background-color: #00ff00;
    color: #00ff00;
}

/* საკლასო დავალება:

html-ის დოკუმენტში დაამატეთ div ბლოკი, რომლის სიგანე ყოველთვის იქნება ეკრანის სიგანის 70%. ამ დივ ბლოკს ასევე გაუწერეთ ფონის ფერი (გამოიყენეთ თექვსმეტობითი სისტემა).

ამ დივ ბლოკში მოათავსეთ ერთი დივ ბლოკი და შვილობილი დივ ბლოკის სიგანე უნდა იყოს მშობელი დივ ბლოკის სიგანის მეოთხედი. შვილობილ დივ ბლოკსაც გაუწერეთ ფონის ფერი თექვსმეტობითი სისტემით */
#div-1{
    width: 70%;
    background-color: #aaff00;
    height: 600px;
}

#div-2{
    background-color: #ffff00;
    width: 10%;
    height: 10%;
}